<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Anagrams!</title>
  </head>
  <body>
    <div class='container'>
      <h1>Anagram Generator</h1>
      <p>Type in a word for its anagrams!!!!!</p>
        <form action='/view_anagrams'>
          <div class='form-group'>
            <label for='word'>Word:</label>
            <input id='word' name='word' class='form-control' type='text'>
          </div>
          <button type='submit' class='btn-success'>Go!</button>
        </form>
      </div>
  </body>
</html>
